.password-generator {
  display: flex;
  flex-direction: column;
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 70px;
    align-items: center;
  }

  &__title {
    @include fluid-text(40, 30);

    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      90deg,
      #b186f4 0%,
      #b48bf4 6.25%,
      #b790f5 12.5%,
      #bb95f5 18.75%,
      #be9af6 25%,
      #c1a0f6 31.25%,
      #c4a5f7 37.5%,
      #c8aaf7 43.75%,
      #cbaff7 50%,
      #ceb4f8 56.25%,
      #d1b9f8 62.5%,
      #d5bef9 68.75%,
      #d8c3f9 75%,
      #dbc9fa 81.25%,
      #decefa 87.5%,
      #e2d3fb 93.75%,
      #e5d8fb 100%
    );
  }

  &__settings {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 6;

    border: 1px solid var(--color-accent);
    border-radius: 10px;
    padding: 20px;
  }
  &__label {
    display: flex;
    align-items: center;
    gap: 20px;

    & .checkbox {
      display: none;

      &:checked + .checkbox--fake svg {
        opacity: 1;
        fill: var(--color-accent);
      }

      &--fake {
        width: 35px;
        height: 35px;
        border-radius: 10px;
        display: flex;
        background-color: #362a48;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & svg {
          opacity: 0;
          transition: opacity 0.2s ease;
        }
      }
    }
  }
  &__input {
    background-color: #362a48;
    border: 1px solid var(--color-dark-alt);
    color: inherit;
    padding: 5px 10px;
    border-radius: 10px;

    &:focus,
    &:active {
      outline: none;
    }

    &[type='text'] {
      width: 100%;
    }
  }

  &__result {
    grid-column: span 6;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      @include fluid-text(18, 16);
    }

    &-password {
      overflow-wrap: break-word;
      color: var(--color-accent);
    }
  }

  &__button {
    width: 100%;
    padding: 10px 20px;

    display: flex;
    background: linear-gradient(
      90deg,
      #ac7ff4 0%,
      #966fd3 6.25%,
      #8160b5 12.5%,
      #6f539a 18.75%,
      #5e4782 25%,
      #4f3c6c 31.25%,
      #423259 37.5%,
      #362a48 43.75%,
      #2c2239 50%,
      #231c2d 56.25%,
      #1c1723 62.5%,
      #16121a 68.75%,
      #100c14 75%,
      #0a070c 81.25%,
      #040306 87.5%,
      #010101 93.75%,
      #000 100%
    );
    border: 1px solid var(--color-dark-alt);
    color: var(--color-light);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    background-size: 130% 100%;
    transition: background-position var(--transition-duration) ease;

    @include hover {
      background-position: 100% 0;
    }
  }

  &__copy-message {
    @include fluid-text(12, 10);
  }
}
