:root {
  --color-dark: rgba(0, 0, 0, 1);
  --color-dark-alt: #1f1f1f;

  --color-light: #fff;

  --color-accent: rgba(172, 126, 244, 1);

  --font-family-base: 'DelaGothicOne', system-ui;

  --container-width: 1400px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;

  --transition-duration: 0.4s;
}
